* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  background: rgb(100,34,195);
  background: linear-gradient(0deg, rgba(100,34,195,1) 10%, rgba(32,26,179,1) 50%);
  background-attachment: fixed;
}
.hero {
  margin-right: 70px;
  margin-top: 40px;
  margin-left: 70px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.info {
  width: 47%;
  min-width: 300px;
  max-width: 800px;
  color: #f9fcad;
  background-color: rgba(238,134, 255, 0.3);
  border-radius: 3%;
  margin-top: 40px;
}
.skills {
  width: 47%;
  min-width: 300px;
  max-width: 800px;
  margin-top: 40px;
  padding-bottom: 50px;
  background-color: #FFFFF0;
  border-radius: 3%;
}


.postPhoto {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

.avatar {
  border-radius: 50%;
  margin: 35px;
  width: 45%;
  min-width: 125px;
}
.postName {
  margin-top: 50px;
  font-size: clamp(12px, 2.6vw, 23px);
  line-height: 90%;
  margin-right: 50px;
  font-family: 'Indie Flower', cursive;
}

.contacts-list {
  font-size: clamp(13px, 2.6vw, 23px);
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  margin-right: 35px;
}

.contacts-list > .item {
  width: 80%;
  list-style-type: none;
  background-color: rgba(255,253,135,0.2);
  text-align: center;
  padding: 23px;
  margin-bottom: 25px;
  display: inline-block;
}
a {
  text-decoration: none;
  color:#f2f1fb;
}

.postName > h2, h3 {
  color: #f2f1fb;
}
.itemCourser {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.cursor {
  max-width: 40%;
}
.linkProjects {
  margin-left:100px;
  margin-bottom: 145px;
}
.linkProjects::after {
  content: "Projects";
  opacity: 0;
}
.linkProjects:hover::after {
  opacity: 1;
  font-size: 1.1vw;
  padding: 3.5px;
  background-color: rgba(210, 95, 210, 0.3);
}
.projects {
  display: block;
  margin: 0 auto;
  width: 90%;
  min-width: 300px;
  max-width: 1200px;
  min-height: 80vh;
  border-radius: 3%;
  background-color: #FFFFF0;
  margin-bottom: 100px;
}

.skillsList > .item {
  list-style-type: none;
  font-family: 'Russo One', sans-serif;
  color:#363636;
  font-size: clamp(14px, 1.8vw, 23px);
}

.skills > h2 {
  text-align: center;
  font-size: clamp(23px, 2.6vw, 45px);
  color: grey;
  font-family: 'Indie Flower', cursive;
}

.skillsList > .item > img {
  margin-right: 30px;
}
.contacts-list > .item > img {
  max-width: 10%;
  margin-right: 20px;
  vertical-align: bottom;
}

.project_list {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.item_project > a > img {
  width: 100%;
  min-width: 110px;
  border-radius: 3%;
}
.item_project {
  margin: 50px;
}
.brain {
  align-self: center;
}
